@charset "UTF-8";

@media screen and (max-width: 767px) {
    
    /* Header */

    /* header {
        background-color: #121212;
        padding: 0px;
        position: absolute;
    }

    header nav ul li{
        padding: 0;
        font-size: 0.70rem;
    }

    header a:hover {
        background-color: #121212;
        padding: 0;
        border-radius: 0;
        color: white;
        font-weight: none;
        transition-duration: 0;
    } */
    body {
        overflow-x: hidden;
    }

    header {
        padding-left: 0px;
        position: relative;
        justify-content: flex-start;
    }

    nav {
        margin-top: 10rem;
        display: block;
        }

    #burguer-menu {
        display: block;
        font-size: 2.63rem;
        margin-left: 3.13rem;
        margin-top: 1.25rem;
        padding-bottom: 0px;
        color: #38B6FF;
        cursor: pointer;
    }

    /* ul {
        display: flex;
    } */

    header ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        visibility: hidden;
    }
        
    header nav ul li {
        /* justify-content: space-around; */
        display: block;
        padding: 0.63rem;
        background-color: #121212;
        border: 1px solid#38b6ff;               
    }

    header nav ul li:hover {
        background-color: #38B6FF;
        color: #121212;
        transition-duration: 0;

    }

    header a:hover {
        background-color: #38B6FF;
        padding: 0px;
        border-radius: 0px;
        color: #121212;
        font-weight: bolder;
        transition-duration: none;
    }

    /* Name */

    .name-container {
        flex-direction: column;
        text-align: center;
        padding: 0;
        padding-top: 0px;
    }

    h1 {
        font-size: 4rem;
        padding-top: 50px;
        text-align: center;
    }

    .estilo-texto h2 {
        text-align: center;
        padding: 0;
        padding-top: 25px;
        font-size: 3rem;
    }

    .estilo-texto {
        order: 2;
    }

    .style-name-img {
        order: 1;
        margin: auto;        

    }

    .estilo-imagem{
        height: 20em;
    }

    .degrade {
        height: 70vh;
    }

/* About */

.about-container {
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10vh;

}

/* Hard Skills*/

.estilo-hard-skills i p {
    padding-top: 0px;
}

/*Soft Skills*/


.soft-skills-imagens {
    flex-direction: column;
    height: 95rem;
    gap: 8rem;

}

.soft-skills-imagens > div {
    flex: none;
    height: 12rem;
    transition: none;


}

.soft-skills-imagens > div:hover {
    flex: none;
}

.soft-skills p {

    opacity: 1;
    transition: none;
}

.soft-skills p:hover{
    opacity: 1;
}

/* Projects */
.projects {
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
}

.style-projects {
    flex-direction: column;
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
}

.projects-text {
    padding: 20px;
}

.projects-button {
    flex-direction: column;
}
.projects-button-style {
    margin-top: 0px;
}

/* Certifications */

.style-certifications {
    flex-direction: column;
    align-items: center;
}

.style-card {
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 50px;
}
}